 <h2>User Accounts</h2>
    <ul>
      <li *ngFor="let account of accounts">
        <span>{{ account.name }} ({{ account.email }})</span>
        <button (click)="editAccount(account)">Edit</button>
        <button (click)="deleteAccount(account)">Delete</button>
      </li>
    </ul>
    <div *ngIf="selectedAccount">
      <h2>Edit Account</h2>
      <form (submit)="saveChanges()">
        <label>
          Name:
          <input type="text" [(ngModel)]="selectedAccount.name" name="name" required>
        </label>
        <label>
          Email:
          <input type="email" [(ngModel)]="selectedAccount.email" name="email" required>
        </label>
        <button type="submit">Save Changes</button>
      </form>
    </div>
